# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Input\Output files #
######################
*.stl
*.gcode

# Specific folders (ignore contents but keep folder README) #
#############################################################
input_stl/**
!input_stl/README.md

output_gcode/**
!output_gcode/README.md

profiles/**
!profiles/README.md

logs/**
!logs/README.md

cura_engine_runtime/**
!cura_engine_runtime/README.md
