# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Input\Output files #
######################
*.stl
*.gcode

# Specific folders (ignore content but keep folder) #
#####################################################
input_stl/**
!input_stl/.gitkeep

output_gcode/**
!output_gcode/.gitkeep

profiles/**
!profiles/.gitkeep

logs/**
!logs/.gitkeep

cura_engine_runtime/**
!cura_engine_runtime/.gitkeep