# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Input\Output files #
######################
*.stl
*.gcode

# Specific folders (ignore contents but keep folder README) #
#############################################################

profiles/**
!profiles/README.md

orig_profiles/**
!orig_profiles/README.md

logs/**
!logs/README.md
